    * {
        margin: 0;
        padding: 0;
        font-family: var(--font-family-main);
    }

    :root {
        --soft-pink: #faadbf;
        --dark-mauve: #934c5d;
        --pinkish-tan: #e08787;
        --light-pink: #ffe3ea;
        --clear-color: #ffffff;
        --pale-pink: #edd9de;
        --dull-red: #aa4242;
        --rich-blue: #001dff;
        --font-family-main: 'Roboto', sans-serif;
    }

    html {
        font-size: 10px;
        overflow-x: hidden;
    }

    body {
        font-size: 18px;
    }

    header {
        display: flex;
        justify-content: space-around;
        background-color: var(--pinkish-tan);
        height: 100px;
        align-content: center;
    }

    header img {
        width: 100px;
        height: 100px;
    }

    header ul li {
        list-style: none;
        display: inline-block;
        margin: 3rem;
    }

    header ul li a {
        color: var(--clear-color);
        text-decoration: none;
    }

    .action a {
        margin: 0px 2rem;
        background-color: var(--soft-pink);
        color: var(--dark-mauve);
        padding: 1.2rem;
        border-radius: 7px;
        transition: .6s;
    }

    .action a:hover {
        background-color: var(--clear-color);
        border-radius: 0;
    }

    .hero {
        display: flex;
        min-height: calc(100vh - 100px);
    }

    .hero .centered {
        width: 50%;
        justify-content: center;
        align-content: center;
        display: flex;
        flex-direction: column;
        margin: auto;
    }

    .hero .centered a {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-decoration: none;
    }

    .hero .centered>a:first-of-type {
        display: block;
        width: 20%;
        margin: 1rem auto;
        padding: 2rem;
        box-sizing: border-box;
        background-color: var(--soft-pink);
        color: var(--clear-color);
    }

    .hero .centered>a:first-of-type:hover {
        background-color: var(--dark-mauve);
    }

    .fa-angle-double-down::before {
        font-size: 3rem;
        width: 125px;
    }

    .fa-angle-double-down:hover {
        background-color: var(--soft-pink);
    }

    .hero i {
        margin: auto;
    }

    .centered {
        text-align: center;
    }

    h1 {
        font-size: 6rem;
        color: var(--dull-red);
    }

    .highlight {
        color: var(--pale-pink);
    }

    .highlight:hover {
        color: var(--dark-mauve);
        text-decoration: underline;
        cursor: pointer;
    }

    .fas.fa-angle-double-down {
        margin: auto;
        padding: 3rem;
        box-sizing: border-box;
        border: 1px solid var(--pinkish-tan);
        border-radius: 50%;
        color: var(--dark-mauve);
    }

    .display-an-example {
        min-height: 150vh;
        width: 100%;
        background-image: url(../img/bg.png);
        background-position: -300px -40px;
        background-repeat: no-repeat;
        background-size: 148%;
    }

    .forground .title {
        margin-top: 20vh;
        margin-left: 5rem;
        display: inline-block;
    }

    .forground h2 {
        color: var(--pale-pink);
        display: block;
        font-size: 4.8rem;
    }

    .highlight.dark {
        color: var(--dark-mauve);
    }

    .highlight.dark:hover {
        color: var(--pale-pink);
        text-decoration: underline;
        cursor: pointer;
    }

    .highlight:hover h3 {
        font-size: 1.8rem;
        color: var(--dark-mauve);
        line-height: 3;
    }

    h3 a {
        color: var(--light-pink);
    }

    .cards {
        display: flex;
        flex-direction: column;
    
        margin: 3rem;
        width: 100%;
    }

    .card.response {
        border: 2px solid var(--clear-color);
        display: flex;
        flex-direction: column;
        align-content: flex-end;
        width: 30%;
        border-radius: 20px;
        padding: 2rem;
        background-color: var(--dark-mauve);
        color: var(--clear-color);
        margin: 2rem 0;
    }

    .card:hover {
        background-color: var(--clear-color);
        color: var(--dark-mauve);
    }

    .vote {
        align-self: flex-end;
        padding: 2rem;
        box-sizing: border-box;
    }

    h4 {
        font-size: 4rem;
    }

    progress {
        display: block;
        width: 95%;
        margin: auto;
        border: 0 none;
        background: var(--pinkish-tan);
        border-radius: 14px;
        box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.5), 0px 1px 0px rgba(255, 255, 255, 0.2);
    }

    progress::-moz-progress-bar {
        border-radius: 12px;
        background: var(--light-pink);
    }

    .flex-hero {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 85%;
        flex-basis: 85%;
        flex-wrap: nowrap;
        margin: auto;
    }

    .flex-hero aside {
        width: 25%;
        flex-basis: 25%;
        margin-top: 5rem;
    }

    .flex-hero aside button {
        background-color: var(--pale-pink);
        color: var(--dark-mauve);
        border-radius: 20px;
        font-size: 2rem;
        width: 100%;
        height: 5rem;
        box-shadow: none;
        margin: 3rem auto;
        box-sizing: border-box;
    }

    .flex-hero aside button:hover {
        background-color: var(--dark-mauve);
        color: var(--soft-pink);
    }

    .flex-hero aside h3 {
        margin: 3rem auto;
        color: var(--dark-mauve);
    }

    button {
        margin: 0px 2rem;
        background-color: var(--soft-pink);
        color: var(--dark-mauve);
        padding: 1.2rem;
        border-radius: 7px;
        transition: .6s;
        text-align: center;
        transition: background 250ms ease-in-out, transform 150ms ease;
        -webkit-appearance: none;
        -moz-appearance: none;
    }
    button:hover{
        background-color: var(--dark-mauve);
        color: var(--soft-pink);
    }

    .number {
        display: block;
        width: 100%;
        text-align: center;
        font-size: 3rem;
        background-color: #fff;
        padding: 4rem 1rem;
        box-sizing: border-box;
        border-radius: 20px;
        /* border: 3px solid var(--dark-mauve); */
        margin-bottom: 3rem;
    }

    .number:hover {
        border-radius: 7px;
        transition: 1s;
    }

    .social-links {
  
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: space-evenly;
        font-size: 5rem;
        align-content: flex-end;
        margin-TOP: -20px;
    
    }

    .social-links a {
        color: var(--clear-color);
        margin: 0 15px;
    }

    .audiance {
        position: relative;
        margin: 5vh 0;
    }

    .audiance-text {
        width: 30%;
        margin-left: 8%;
        margin-bottom: 5%;
    } 

    .audiance-transition {
        background-color: var(--pinkish-tan);
        min-height: 170vh;
        border-radius: 150px;
        width: 135%;
        position: relative;
        transform: rotate(-15deg);
        top: 15vh;
        left: -8vw;
        display: flex;
        justify-content: flex-end;
    
    }

    .audiance-transition .social-links {
        width: 90%;
        justify-content: flex-end;
        margin-right: 10%;
        margin-bottom: -8vh;
        position: relative;

        top: -6rem;
    }

    .audiance-transition .social-links .fab {
        color: var(--rich-blue);
    }
    /* preview */
.preview {
    width: 90%;
    height: 80vh;
    background-color: #fff;
    z-index: 999;
    position: relative;
    top: -120vh;
    display: block;
    margin: auto;
    border: 4vh var(--dull-red) solid;
}
.preview header {
    background-color: #fff;
    display: flex;
    justify-content: flex-end;
    height: 100px;
    align-items: center;
}
.preview header nav {
    width: 100%;
    display: flex;
    justify-content: flex-end;

}
.preview header nav button {
    flex-basis: 15%;
}
.preview header nav button:last-child{
    margin-right: 5vw;
}
.preview .title{
    margin-left: 3vw;
    display: block;
}
.preview .cards{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 90%;
    margin:5vh  auto;
}
.card.result{
    border: 2px solid var(--pinkish-tan);
    padding: 5vw;
}
.card.result .smiley{
    margin: 3vh auto;
    display: block;
    width: 70%;
}
.card.result h5{
    margin: 2vh auto;
    font-size: 18px;
}