    * {
        margin: 0;
        padding: 0;
    }

    :root {
        --soft-pink: #faadbf;
        --dark-mauve: #934c5d;
        --pinkish-tan: #e08787;
        --light-pink: #ffe3ea;
        --clear-color: #ffffff;
        --pale-pink: #edd9de;
        --dull-red: #aa4242;
        --rich-blue: #001dff;
    }

    html {
        font-size: 10px;
        overflow-x: hidden;
    }

    body {
        font-size: 18px;
    }

    header {
        display: flex;
        justify-content: space-around;
        background-color: var(--pinkish-tan);
        height: 100px;
        align-content: center;
    }

    header img {
        width: 100px;
        height: 100px;
    }

    header ul li {
        list-style: none;
        display: inline-block;
        margin: 3rem;
    }

    header ul li a {
        color: var(--clear-color);
        text-decoration: none;
    }

    .action a {
        margin: 0px 2rem;
        background-color: var(--soft-pink);
        color: var(--dark-mauve);
        padding: 1.2rem;
        border-radius: 7px;
        transition: .6s;
    }

    .action a:hover {
        background-color: var(--clear-color);
        border-radius: 0;
    }

    .hero {
        display: flex;
        min-height: calc(100vh - 100px);
    }

    .hero .centered {
        width: 50%;
        width: 50%;
        flex-direction: column;
        align-content: center;
        justify-content: center;
        margin: auto;
    }

    .centered {
        text-align: center;
    }

    h1 {
        font-size: 6rem;
        color: var(--dull-red);
    }

    .highlight {
        color: var(--pale-pink);
    }

    .highlight:hover {
        color: var(--dark-mauve);
        text-decoration: underline;
    }

    i {
        height: 60px;
        width: 60px;
        display: block;
        color: #000;
        margin: auto;
        border: 1px solid #000;
        border-radius: 50%;
    }
    .display-an-example{
        min-height: 100vh;
        width: 100%;
        background-image: url(../img/bg.png);
        background-position: 25% 10%;
        position: absolute;
    }

 .forground .title {
     position: relative; 
     top: 15rem;
     left: 5rem;


 }
 